<div class="row">   
  <div class="bs-example">
    <div class="panel-heading">List Users</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Full Name</th>
          <th>Email</th>
          <th width="15%">Action</th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td></td>
          <td><%= user.profile.first_name %> <%= user.profile.last_name %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to "<span class='glyphicon glyphicon-wrench'>".html_safe, edit_user_path(user) %> 
            <%= link_to "<span class='glyphicon glyphicon-trash'>".html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to "<span class='glyphicon glyphicon-eye-open'>".html_safe, user %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div>
      <%= paginate @users %>
    </div>
  </div>
</div>